.tiny-time-picker {
  display: flex;
}
.tiny-time-picker_input {
  width: 100%;
  box-sizing: border-box;
}

.picker {
  display: flex;
  height: 100px;
  border-bottom: 1px solid #aeaeae;
}

.picker_col {
  width: 25%;
  overflow-y: scroll;
}

.picker_val--selected {
  background-color: #cecece;
}

.picker_val--disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
